<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Corey Weber Resume</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/templates/css/css1.css" media="screen" />
</head>

<body>

<div id="container"> 

  <div id="header">
	<div class="headtitle">About Me</div>
  </div>

  <div id="menu"> 
    <ul>
      <li><a href="/" title="">HOME</a></li>
      <li><a href="me" title="">ABOUT ME</a></li>
      <li><a href="cat" title="">CAT SITE</a></li>
      <li><a href="contact" title="">CONTACT ME</a></li>
      <li><a href="source" title="">SOURCE LINKS</a></li>

    </ul>
  </div>


  <div id="content"> 

    <div id="insidecontent"> <br>
      <h1>Education</h1>
      <br>
	<h3>University of Prince Edward Island UPEI</h3>
      <ul>
		<li><p>Bachelor of Science (B.S.), Computer Science 3rd year, 2012-2016</p></li>
		<br>
		<h3>Grades</h3>
		<ul>
		<li><p>Semester GPA 3.4 Cymulative GPA 3.1</p></li>
		</ul>
		<br>
		<h3>Activities and Societies</h3>
		<ul>
		<li><p>I am part of the Computer Science Society 			as the Treasurer as well as a paid tutor for several computer science courses at the 2nd year level.</p></li>
		</ul> 
	</ul>
	<br>
	<h1>Experience</h1>
	<ul>
		<br>
		<h3>Tour guide / Production at PEI dirt shirt</h3>
		<ul>
		<li><p>May 2010 - October 2012</p></li>
		<li><p>Worked in tourism giving tours of the factory where shirts are made using PEI dirt as well as worked in the production of the shirts and management of inventory. </p></li>
		</ul> 
		<br>
		<h3>Bakery clerk at Atlantic Superstore </h3>
		<ul>
		<li><p>June 2012 - August 2014</p></li>
		<li><p>Bakery clerk at Atlantic Superstore primarily packaging and displaying products as well as customer service, baking and inventory management.</p></li>
		</ul>
		</ul>
	<br>
	<h1>Volunteering</h1>
	<ul>
		<br>
		<h3>Tutor</h3>
		<ul>
		<li><p>Paid and unpaid tutoring for several computer science courses at the 2nd year level.</p></li>
		</ul>
		<br>
		<h3>Eddie May Mysteries</h3>
		<ul>
		<li><p> IT, sound, and lights technician for live dinner theatre performances.</p></li>
		</ul> 
    </div>

    

    <div style="clear: both;"></div>

  </div>



  <div id="footer"> <span>Copyright © 2005 | Corey Weber</span> 
  </div>

</div>
</body>
</html>
