<!DOCTYPE html>
<html>
	<head>
	<link rel="stylesheet" href="/templates/css/css.css"/>
	<link rel="shortcut icon" href="images/logo-png.ico">
	<title>Adopt-A-Cat Congrats</title>
	</head>
<body>	
	
	<div id="header">
	<img src="images/logo-png.jpg" width= "200px" height= "150px" style= "float:left;" />
	<h2 style="margin-bottom:0;text-align:center;">Adopt a cat today!</h2>
	
	<div id="header2">
	
	</div>
	</div>
	
	<div id="menu">
	<b>Menu</b><br><br>
	
	<form method= "get" action = "/">
	<input type="Submit" value = "Resume">
	</form><br>
	
	<form method= "get" action = "/cat">
	<input type="Submit" value = "Home">
	</form><br>
	
	<form method = "get" action = "/place">
	<input type="Submit" value="Place A Cat For Adoption">
	</form><br>
	
	<form method = "get" action = "/adoptees">
	<input type="Submit" value="Show all Adoptees">
	</form><br>
	
	<h3 text-align="center" style = color:green><u>Prices</u></h3>
		
	<u>Kittens and Adults</u><br>
	<span style="color:green;">$40</span><br>
	<u>Seniors</u><br>
	<span style="color:green;">$20</span><br><br>
	<span> Cheapest prices you will find! <br><br> Lowest price garantee!</span>
	
	</div>
	
	<div id="content">
		<h3 style= "text-align: center; color: green;"> Congrats! You got yourself a cat!</h3>
		<h6 Style= "text-align: center; color: black;">Delivery in 2hr or less</h6>
	</div>

	</body>
</html>
