<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">


<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>Corey Weber Resume</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="/templates/css/css1.css" media="screen" />
</head>

<body>

<div id="container"> 

  <div id="header">
    <div class="headtitle">Corey Weber</div>
  </div>

  <div id="menu"> 
    <ul>
      <li><a href="/ " title="">HOME</a></li>
      <li><a href="me" title="">ABOUT ME</a></li>
      <li><a href="cat" title="">CAT SITE</a></li>
      <li><a href="contact" title="">CONTACT ME</a></li>
      <li><a href="source" title="">SOURCE LINKS</a></li>

    </ul>
  </div>


  <div id="content"> 

    <div id="insidecontent"> <br>
      <h1>Computer Skills</h1>
      <br>
	<h3>Core Programming Languages</h3>
      <ul>
		<li><p>Java programming</p></li>
		<li><p>C programming</p></li>
	</ul>
	<br>
	<h3>Scripting</h3>
	<ul>
		<li><p>Bash script</p></li>
		<li><p>Shell script</p></li>
		<li><p>Java script</p></li>
	</ul>
	<br>
	<h3>Databases</h3>
	<ul>
		<li><p>MySQL</p></li>
		<li><p>SQL Server</p></li>
		<li><p>SQLite</p></li>
	</ul>
	<br>
	<h3>IOS Development</h3>
	<ul>
		<li><p>Xcode</p></li>
		<li><p>MVC Framework</p></li>
		<li><p>Objective C</p></li>
	</ul>
	<br>
	<h3>Web Development</h3>
	<ul>
		<li><p>Python</p></li>
		<li><p>PHP</p></li>
		<li><p>HTML</p></li>
		<li><p>CSS</p></li>
		<li><p>SQL</p></li>
		<li><p>GoogleAppEngine Framework</p></li>
	</ul>
	<br>
	<h3>Other Computer Knowledge</h3>
	<ul>
		<li><p>Operating System Architecture / Programing</p></li>
		<li><p>Computer Architecture</p></li>
		<li><p>Networking Protocols Knowledge</p></li>
		<li><p>Linux/Unix Computing</p></li>
		<li><p>Object Oriented Design</p></li>
		<li><p>Data Structures</p></li>
	</ul>
	</ul>
	<h1>Other Skills</h1>
	<ul>
		<li><p>Customer Service</p></li>
		<li><p>Customer Relations</p></li>
		<li><p>Food Preparation</p></li>
		<li><p>Guided Bilingual Tours</p></li>
		<li><p>French Speaking</p></li>
		<li><p>Product Management</p></li>
		<li><p>Theatre Technician</p></li>
		<li><p>Product Management</p></li>
	</ul>
	<br>
    </div>
     <div style="clear: both;"></div>
  </div>

  <div id="footer"> <span>Copyright © 2015 | Corey Weber</span> 
  </div>

</div>
</body>
</html>
